<!-- <body style="background-color: #FEFEFE;">
    <hr>
    <div class="container-fluid">
        <h2 class="text-center fw-bold">{{task.name}}</h2>
        <h2 class="text-center fw-bold">{{task.Description}}</h2>
        <hr>
    </div>
    <hr>
</body> -->

<hr>
<footer>
    <div class="container-fluid" style="background-color: #FAF5EF;">
        <div class="row ">
            <div class="col-lg-8 col-md-10 mx-auto ">
                <p class="copyright text-center m-2 medium text-dark ">Copyright &copy; The Dev Planner @2022</p>
            </div>
        </div>
    </div>
</footer>
<hr>