<!-- <body style="background-color: #FEFEFE;">
    <hr>
    <div class="container-fluid">
        <h2 class="text-center fw-bold">{{task.name}}</h2>
        <h2 class="text-center fw-bold">{{task.Description}}</h2>
        <hr>
    </div>
    <hr>
</body> -->

{% extends 'base.html'%} {% import "bootstrap/wtf.html" as wtf %} {% block content %}
<br>
<div class="container">

    <div style="width: 70%; height:50%">
        <br> {{ wtf.quick_form(task_form) }}{{simplemde.load}}
    </div>
</div>
{% endblock %}